<div class="tables">
  <table class="table table-empls" border="1" >
    <tr rowspan="2">
      <th>&nbsp;</th>
    </tr>
    <tr rowspan="2">
      <th>&nbsp;</th>
    </tr>
    <ng-container>
      <tr *ngFor="let vacModel of vacationMap">
        <th align="left"
            (mouseenter)="showPopup(vacModel.employee.empl_id)"
            (mouseleave)="popupId=null">
          <div class="popup-container">
            {{vacModel.employee.fio}}
            <div class="popup" *ngIf="popupId && popupId === vacModel.employee.empl_id">
              <div class="popup-content">
                <div class="content-top">
                  <img class="empl-img" src="" alt="" width="50" height="70">
                  <div>
                    <div class="empl-info">{{vacModel.employee.empl_name}}</div>
                    <div class="empl-info">{{vacModel.employee.service_name}}</div>
                    <div class="empl-info">{{vacModel.employee.dep_name}}</div>
                  </div>
                </div>
               <div class="content-botom">
                 Период отпусков: [{{getVacationPeriods(vacModel.vacations)}}]
               </div>
              </div>
            </div>
          </div>

        </th>

      </tr>
    </ng-container>
  </table>

  <table class="table table-vacs" border="1">
    <tr align="center">
      <th colspan="12">{{year}} год</th>
    </tr>
    <tr>
      <th *ngFor="let month of months">
        {{month.name}}
      </th>
    </tr>
    <ng-container>
      <tr *ngFor="let vacModel of vacationMap">
        <td *ngFor="let month of months">
          <div class="cells-container">
             <div class="day-cell" #cell
                  [ngStyle]="{background: setStyle(vacModel, getDayOfYear(month.index, day), 'Plan')}"
                   *ngFor="let day of month.days | count"
                   >
               <div class="day-cell-a"
                    [ngStyle]="{background: setStyle(vacModel, getDayOfYear(month.index, day), 'Fact')}"
               ></div>
               <span class="dot" *ngIf="setTodayStyle(getDayOfYear(month.index, day))"></span>
             </div>

          </div>
        </td>
      </tr>
    </ng-container>

  </table>
</div>

